<p id="notice"><%= notice %></p>

<dl class='dl-horizontal'>
  <dt>Factura:</dt>
  <dd><%= @invoice.full_number %></dd>
  <dt>Fecha:</dt>
  <dd><%= @invoice.date.strftime('%d/%m/%Y')%></dd>
  <dt>Operador:</dt>
  <dd><%= @invoice.operator %></dd>
  <dt>CUIT:</dt>
  <dd><%= @invoice.operator.cuit %></dd>
  <dt>Gravado IVA 21%</dt>
  <dd><%= @invoice.taxed_21 %></dd>
  <dt>IVA 21%</dt>
  <dd><%= @invoice.tax_21 %></dd>
  <dt>Gravado IVA 10,5:</dt>
  <dd><%= @invoice.tax_105 %></dd>
  <dt>IVA 10,5:</dt>
  <dd><%= @invoice.taxed_105 %></dd>
  <dt>No Gravado:</dt>
  <dd><%= @invoice.not_taxed %></dd>
  <dt>Exento:</dt>
  <dd><%= @invoice.exempt %></dd>
  <dt>Percepcion AFIP:</dt>
  <dd><%= @invoice.perception %></dd>
  <dt>Total:</dt>
  <dd><%= @invoice.total %></dd>
</dl>

<%= link_to 'Editar', [:edit, @invoice.operator_namespace, @invoice], class: 'btn btn-default' %>
<%= link_to 'Borrar', [@invoice.operator_namespace, @invoice], method: :delete,
  data: { confirm: 'Desea eliminar la factura?' }, class: 'btn btn-danger' %>
